*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Copperplate, "Copperplate Gothic Light",
}

.app{
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 50px;
  padding: 0 20px;
  box-shadow: 0 0 35px #e2e1e1;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@import url("./components/header/header.css");

@import url("./components/mainpages/products/products.css");

@import url("./components/mainpages/utils/detail/Detail.css");

@import url("./components/mainpages/CreateProduct.css")